

This dataset provides a detailed overview of gym members' exercise routines, physical attributes, and fitness metrics. It contains 973 samples of gym data, including key performance indicators such as heart rate, calories burned, and workout duration. Each entry also includes demographic data and experience levels, allowing for comprehensive analysis of fitness patterns, athlete progression, and health trends.

Key Features:

Age: Age of the gym member.
Gender: Gender of the gym member (Male or Female).
Weight (kg): Member’s weight in kilograms.
Height (m): Member’s height in meters.
Max_BPM: Maximum heart rate (beats per minute) during workout sessions.
Avg_BPM: Average heart rate during workout sessions.
Resting_BPM: Heart rate at rest before workout.
Session_Duration (hours): Duration of each workout session in hours.
Calories_Burned: Total calories burned during each session.
Workout_Type: Type of workout performed (e.g., Cardio, Strength, Yoga, HIIT).
Fat_Percentage: Body fat percentage of the member.
Water_Intake (liters): Daily water intake during workouts.
Workout_Frequency (days/week): Number of workout sessions per week.
Experience_Level: Level of experience, from beginner (1) to expert (3).
BMI: Body Mass Index, calculated from height and weight.
This dataset is ideal for data scientists, health researchers, and fitness enthusiasts interested in studying exercise habits, modeling fitness progression, or analyzing the relationship between demographic and physiological data. With a wide range of variables, it offers insights into how different factors affect workout intensity, endurance, and overall health.

In [2]:
import pandas as pd
import numpy as np

In [3]:
Gym = pd.read_csv("D:\Machine learning projects\Gym Members\gym_members_exercise_tracking.csv")
Gym

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\pawar\AppData\Local\Temp\ipykernel_11120\638150325.py:1: SyntaxWarning: invalid escape sequence '\M'
  Gym = pd.read_csv("D:\Machine learning projects\Gym Members\gym_members_exercise_tracking.csv")

,Age,Gender,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Workout_Type,Fat_Percentage,Water_Intake (liters),Workout_Frequency (days/week),Experience_Level,BMI
0,56,Male,88.3,1.71,180,157,60,1.69,1313.0,Yoga,12.6,3.5,4,3,30.20
1,46,Female,74.9,1.53,179,151,66,1.30,883.0,HIIT,33.9,2.1,4,2,32.00
2,32,Female,68.1,1.66,167,122,54,1.11,677.0,Cardio,33.4,2.3,4,2,24.71
3,25,Male,53.2,1.70,190,164,56,0.59,532.0,Strength,28.8,2.1,3,1,18.41
4,38,Male,46.1,1.79,188,158,68,0.64,556.0,Strength,29.2,2.8,3,1,14.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,24,Male,87.1,1.74,187,158,67,1.57,1364.0,Strength,10.0,3.5,4,3,28.77
969,25,Male,66.6,1.61,184,166,56,1.38,1260.0,Strength,25.0,3.0,2,1,25.69
970,59,Female,60.4,1.76,194,120,53,1.72,929.0,Cardio,18.8,2.7,5,3,19.50
971,32,Male,126.4,1.83,198,146,62,1.10,883.0,HIIT,28.2,2.1,3,2,37.74
972,46,Male,88.7,1.63,166,146,66,0.75,542.0,Strength,28.8,3.5,2,1,33.38

In [ ]:
Gym.head(10)

In [ ]:
Gym.notnull().count

In [4]:
Gym.isnull()

,Age,Gender,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Workout_Type,Fat_Percentage,Water_Intake (liters),Workout_Frequency (days/week),Experience_Level,BMI
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
969,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
970,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
971,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
972,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
Gym.describe()

In [7]:
Gym.isnull().sum()

Age                              0
Gender                           0
Weight (kg)                      0
Height (m)                       0
Max_BPM                          0
Avg_BPM                          0
Resting_BPM                      0
Session_Duration (hours)         0
Calories_Burned                  0
Workout_Type                     0
Fat_Percentage                   0
Water_Intake (liters)            0
Workout_Frequency (days/week)    0
Experience_Level                 0
BMI                              0
dtype: int64

In [8]:
Gym.dtypes

Age                                int64
Gender                            object
Weight (kg)                      float64
Height (m)                       float64
Max_BPM                            int64
Avg_BPM                            int64
Resting_BPM                        int64
Session_Duration (hours)         float64
Calories_Burned                  float64
Workout_Type                      object
Fat_Percentage                   float64
Water_Intake (liters)            float64
Workout_Frequency (days/week)      int64
Experience_Level                   int64
BMI                              float64
dtype: object

In [19]:
Numcol_Gym = Gym.select_dtypes([int, float])
Numcol_Gym

,Age,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Fat_Percentage,Water_Intake (liters),Workout_Frequency (days/week),Experience_Level,BMI
0,56,88.3,1.71,180,157,60,1.69,1313.0,12.6,3.5,4,3,30.20
1,46,74.9,1.53,179,151,66,1.30,883.0,33.9,2.1,4,2,32.00
2,32,68.1,1.66,167,122,54,1.11,677.0,33.4,2.3,4,2,24.71
3,25,53.2,1.70,190,164,56,0.59,532.0,28.8,2.1,3,1,18.41
4,38,46.1,1.79,188,158,68,0.64,556.0,29.2,2.8,3,1,14.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,24,87.1,1.74,187,158,67,1.57,1364.0,10.0,3.5,4,3,28.77
969,25,66.6,1.61,184,166,56,1.38,1260.0,25.0,3.0,2,1,25.69
970,59,60.4,1.76,194,120,53,1.72,929.0,18.8,2.7,5,3,19.50
971,32,126.4,1.83,198,146,62,1.10,883.0,28.2,2.1,3,2,37.74
972,46,88.7,1.63,166,146,66,0.75,542.0,28.8,3.5,2,1,33.38

In [24]:
Q1 = np.percentile(Numcol_Gym , 25)
Q3 = np.percentile(Numcol_Gym , 75)
IQR = Q3-Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

In [34]:
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
outliers_iqr = Numcol_Gym[(Numcol_Gym < lower_bound) | (Numcol_Gym > upper_bound)]
outliers_iqr

,Age,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Fat_Percentage,Water_Intake (liters),Workout_Frequency (days/week),Experience_Level,BMI
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1313.0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,883.0,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,677.0,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,532.0,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,556.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1364.0,NaN,NaN,NaN,NaN,NaN
969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1260.0,NaN,NaN,NaN,NaN,NaN
970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,929.0,NaN,NaN,NaN,NaN,NaN
971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,883.0,NaN,NaN,NaN,NaN,NaN
972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,542.0,NaN,NaN,NaN,NaN,NaN